@import 'reset';

:root {
  --dark-grey: #282828;
  --pink: #ff6174;
}

/*---------
  GENERAL
----------*/

body {
  font-family: Roboto;
  font-size: 1.6rem;
}

strong { font-weight: bold; }

.highlighted { color: var(--pink); }

.hidden { display: none; }

.center {
  width: 98rem;
  margin: 0 auto;
}

header {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}

/*-----------------
       MAIN
------------------*/

/* MUSE */

.infographic-img {
  width: 55.9rem;
  height: 81.9rem;
}

.infographic-img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 55.9rem;
  height: 81.9rem;
}

.hotspot {
  opacity: .5;
  cursor: pointer;
  transition: opacity .5s ease;

  &:hover {
    opacity: .08;
  }
}

/* STORY */

.story-content {
  display: flex;
}

.case {
  display: flex;
  align-items: center;
  margin: 10rem 0 12rem;
}

/* Influence meter */

.meter {

  &-unselected-artists {
    display: flex;
    flex-flow: row wrap;
  }

  &-unselected-artist {

    position: relative;

    & span {
      position: absolute;
      color: white;
    }
  }

}

/*--------
  FOOTER
---------*/

.footer {
  color: white;
  background: var(--dark-grey);
  padding: 5rem 6.5rem;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  & .logo-link {
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    display: block;
    background: url(../assets/img/logo.png) no-repeat;
    mix-blend-mode: luminosity;

    &:hover { mix-blend-mode: normal; }
  }

  & .copyright {
    margin-top: 3rem;
  }
}

.social-media-buttons-list {
  display: flex;
}
